body {
    width: 100vw;
    height: 110vh;
    background-image: url('wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    padding: 3%;
    border-radius: 20px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
}

#result {
    color: white;
}

#main2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 0px;
    left: 0px;
    margin: auto auto;
    padding-top: 5%;
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    display: none;
}

#img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-items: center;
}


#head {
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 10px 10px;


}

#sub {
    background-color: transparent;
    border-color: greenyellow;

    /* border:none; */
    border-radius: 10px;
    height: 35px;
    color: white;
    margin-top: 5px;
    transition-duration: 0.5s;
    width: 150px;
}

#sub:hover {
    background-color: greenyellow;
    color: black
}

input {
    background-color: transparent;
    border-radius: 8px;
    border: 0.2px solid rgba(255, 255, 255, 0.3);
    color: aliceblue;
    text-align: center;
    width: 60%;
    align-content: center;

}

.box {
    display: flex;
    flex-wrap: wrap;
}

.label {
    display: inline-block;
    width: 130px;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

#main>div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px;
}
